html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  margin-bottom: 60px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.well hr {
  border-color:#BBB;
}

@icon-font-path: "/components/bootstrap/fonts/";

.navbar{
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
}

#main-title {
  text-align: right;
  padding-bottom: 20px;
}

#main-title-beta{
  font-size:16px;
}

#main-title-subtext{
  font-size:18px;
}

#main-title-text{
  margin-top: -10px;
  margin-bottom: -15px;
  font-size:60px;
}

#footer {
  position: absolute;
  bottom: 0;
  padding-top:20px;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 12px;
}